<div class="socialCard">
  <h1 class="socialCard-title">
    <span class="socialCard-title-firstName">{{ firstName }}</span>
    <span class="socialCard-title-lastName">{{ lastName }}</span>
  </h1>
  <p class="socialCard-desc">
    À vos services sur twitter <a href="https://twitter.com/{{ twitterName }}"> @{{ twitterName }}</a><br/>
    et sur Github <a href="https://github.com/{{ githubName }}"> @{{ githubName }}</a>
  </p>
<div>

